.partners {
	h1 {
		font-weight: 500;
		font-size: 5.8rem;
		line-height: 7rem;
		color: $color-white;

		@media only screen and (max-width: $tab-land) {
			font-size: 4.8rem;
			line-height: 6.3rem;
		}
		@media only screen and (max-width: $mbl-land) {
			font-size: 3.8rem;
			line-height: 5.3rem;
		}
	}

	.footer-wrapper {
		padding: 5rem 0;
	}

	.header-section {
		background-image: linear-gradient(#497ebc, #497ebc), url('../img/about-bg-hero.png');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 45rem;
		text-align: center;
		align-items: start;

		@media only screen and (max-width: $tab-land) {
			height: auto;
		}

		.header {
			display: block;
			// margin-top: 12rem;
			@media only screen and (max-width: $tab-land) {
				margin-bottom: 18rem;
			}

			.text {
				color: #00fe83;
				font-size: 2.4rem;
				line-height: 3rem;

				@media only screen and (max-width: $tab-land) {
					font-size: 1.8rem;
					line-height: 2.5rem;
					margin-bottom: 5rem !important;
				}
				@media only screen and (max-width: $mbl-land) {
					font-size: 1.4rem;
					line-height: 1.4rem;
					margin-bottom: 3rem !important;
				}
			}
		}
	}

	.api-section {
		padding: 8rem 5rem;

		@media only screen and (max-width: $tab-land) {
			padding: 8rem 0rem;
		}

		.custom-container {
			max-width: 150rem;
		}
		.api {
			&__img {
				// width: 100%;
				height: auto;

				img {
					@include img-size;
					object-fit: cover;
				}
			}

			&__content {
				h4 {
					font-weight: 700;
					font-size: 2.9rem;
					line-height: 3.6rem;
					color: #0c266c;
				}

				.text {
					font-weight: 400;
					font-size: 2.9rem;
					line-height: 3.6rem;
					color: #0c266c;
				}
			}

			&__list {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				gap: 2rem;
			}

			&__item {
				background-color: #e9ecf4;
				padding: 3.2rem 2.2rem;
				border-radius: 1rem;
				filter: drop-shadow(0px 1.12235px 5.7341px rgba(0, 0, 0, 0.2));

				@media only screen and (max-width: $mbl-port) {
					padding: 2rem 2rem;
				}
			}

			.title {
				gap: 2rem;
				align-items: center !important;
				margin-bottom: 2rem !important;

				@media only screen and (max-width: $mbl-land) {
					gap: 1.5rem;
				}

				h5 {
					font-weight: 400;
					font-size: 2.6rem;
					line-height: 3.2rem;
					color: #0c266c;

					@media only screen and (max-width: $mbl-land) {
						font-size: 2.4rem;
						line-height: 3.2rem;
					}
					@media only screen and (max-width: $mbl-small) {
						font-size: 2rem;
						line-height: 3rem;
					}
				}
			}

			&__icon {
				height: 5.1rem;
				width: 5.1rem;
				border-radius: 1rem;

				@media only screen and (max-width: $mbl-land) {
					height: 4.8rem;
					width: 4.8rem;
				}
				@media only screen and (max-width: $mbl-small) {
					height: 4.2rem;
					width: 4.2rem;
				}

				img {
					@include img-size;
					border-radius: 1rem;
				}
			}

			.text {
				font-weight: 300;
				font-size: 1.8rem;
				line-height: 2.2rem;
				color: #165cae;

				@media only screen and (max-width: $mbl-land) {
					font-size: 1.6rem;
					line-height: 2.1rem;
				}
				@media only screen and (max-width: $mbl-small) {
					font-size: 1.4rem;
					line-height: 2rem;
				}
			}
		}
	}
}
