.app-section {
	padding: 8rem 0;
}

.app {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 9rem;
	align-items: center;

	@media only screen and (max-width: $tab-port) {
		grid-template-columns: repeat(1, 1fr);
		gap: 0;
	}

	&__img {
		height: 60rem;
		width: 58rem;

		@media only screen and (max-width: $tab-land) {
			height: 42rem;
			width: 42rem;
		}
		@media only screen and (max-width: $tab-port) {
			margin: 0 auto;
		}

		img {
			@include img-size;
		}
	}

	&__content {
		@media only screen and (max-width: $tab-port) {
			margin: 0 auto;
		}
		.sub-heading {
			color: $color-primary;
			font-size: 1.9rem;
		}

		h2 {
			text-align: left;
		}

		.text {
			// line-height: 2.8rem;
		}
	}
	&__btns {
		.btn {
			padding: 0;
		}
	}
}
