button {
	border: none;
	outline: none;
	cursor: pointer;
}

.btn {
	padding: 1.3rem 3rem;
	background: transparent;
	color: $color-secondary;
	font-size: 1.4rem;
	border-radius: 1rem;
	font-family: $font-primary;
	transition: all 0.3s;
	text-transform: capitalize;
	border: none;

	@media only screen and (max-width: $tab-land) {
		font-size: 1.2rem;
	}
	@media only screen and (max-width: $tab-port) {
		font-size: 1rem;
	}
}
.btn.active {
	background: $color-primary;
	color: $color-white !important;

	.icon {
		display: block !important;
	}
}
