.header-section {
	background-image: url('../img/hero-bg.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	// height: 100vh;
	height: 64rem;
	display: flex;
	justify-content: center;
	align-items: center;

	@media only screen and (max-width: $tab-land) {
		background-image: url('../img/tab-bg-hero.png');
	}
	@media only screen and (max-width: $tab-port) {
		background-image: url('../img/mbl-bg-hero.png');
		height: 80rem;
	}
}

.header {
	display: grid;
	grid-template-columns: 1fr 41rem;
	align-items: center;
	gap: 3rem;
	margin-top: 8rem;

	@media only screen and (max-width: $tab-port) {
		grid-template-columns: repeat(1, 1fr);
	}

	h1,
	.text {
		@media only screen and (max-width: $tab-port) {
			margin-bottom: 1rem !important;
		}
	}

	&__btns {
		gap: 1.3rem;
	}

	.btn-1 {
		background-color: $color-primary;
		color: $color-white;
		border: 1px solid transparent;
		transition: all 0.5s;
		font-weight: 700;

		&:hover {
			background-color: transparent;
			color: $color-secondary;
			border: 1px solid #868ea5;
		}
	}
	.btn-2 {
		background-color: transparent;
		color: $color-secondary;
		border: 1px solid #868ea5;
		transition: all 0.5s;
		font-weight: 700;

		&:hover {
			background-color: $color-primary;
			color: $color-white;
			border: 1px solid transparent;
		}
	}
}
.card-wrapper {
	background-color: #fff;
	padding: 1.5rem;
	border-radius: 1rem;
	width: 100%;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

	.send,
	.gets {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #edefff;
		padding: 1.5rem;
		border-radius: 0.5rem;

		h6 {
			font-size: 1.2rem;
			color: $color-secondary;
			margin-bottom: 0.6rem;

			@media only screen and (max-width: $tab-land) {
				font-size: 1rem;
			}
			@media only screen and (max-width: $mbl-port) {
				// font-size: 1.6rem;
			}
		}
	}

	.send__amount,
	.gets__amount {
		font-size: 1.9rem;
		color: $color-secondary;

		@media only screen and (max-width: $tab-land) {
			font-size: 1.6rem;
		}
		@media only screen and (max-width: $mbl-port) {
			// font-size: 1.6rem;
		}
	}

	.calculation {
		.heading {
			display: flex;
			align-items: center;
			gap: 0.7rem;
		}

		span {
			font-size: 1.2rem;
			color: $color-primary;

			@media only screen and (max-width: $tab-land) {
				font-size: 1rem;
			}
			@media only screen and (max-width: $mbl-port) {
				// font-size: 1.6rem;
			}
		}
	}

	.icon {
		height: 1.4rem;
		width: 1.4rem;
		margin-right: 1rem;

		@media only screen and (max-width: $tab-land) {
			height: 1rem;
			width: 1rem;
		}
		@media only screen and (max-width: $mbl-port) {
			// font-size: 1.6rem;
		}

		img {
			height: 100%;
			width: 100%;
		}
	}

	.fee,
	.convert,
	.rate {
		display: flex;
		justify-content: start;
		align-items: center;
		margin-bottom: 2rem;

		.amount {
			// margin-right: 5rem;
			font-size: 1.2rem;
			width: 10rem;

			@media only screen and (max-width: $tab-land) {
				font-size: 1rem;
			}
			@media only screen and (max-width: $mbl-port) {
				// font-size: 1.6rem;
			}
		}

		.text {
			// text-align: left;
			// justify-self: start;
			font-size: 1.2rem;
		}
	}
}

// currency switcher

.select_wrap {
	width: 16rem;
	position: relative;
	user-select: none;
}

.select_wrap .default_option {
	background: #fff;
	border-radius: 1rem;
	position: relative;
	cursor: pointer;
	padding: 1rem 0;
}

.select_wrap .default_option li {
	padding: 1rem 2rem;
}

.select_wrap .default_option:before {
	content: '';
	position: absolute;
	top: 45%;
	right: 1rem;
	// transform: translateX(-50%);
	width: 0.6rem;
	height: 0.6rem;
	border: 0.2rem solid;
	border-color: transparent transparent #555555 #555555;
	transform: rotate(-45deg) translateY(-50%);
	transition: all 0.5s;
}

.select_wrap .select_ul {
	position: absolute;
	top: 6.5rem;
	left: 0;
	width: 100%;
	background: #fff;
	border-radius: 5px;
	display: none;
}

.select_wrap .select_ul li {
	padding: 1rem 2rem;
	cursor: pointer;
}

.select_wrap .select_ul li:first-child:hover {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.select_wrap .select_ul li:last-child:hover {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.select_wrap .select_ul li:hover {
	background: #fff4dd;
}

.select_wrap .option {
	display: flex;
	align-items: center;
}

.select_wrap .option img {
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
	margin-right: 1rem;
}

.select_wrap.active .select_ul {
	display: block;
}

.select_wrap.active .default_option:before {
	// top: 25px;
	transform: rotate(-225deg);
}

// counter
.counter {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	align-items: center;
	text-align: center;
	justify-content: center;
	padding: 3.5rem 0;
	background-color: $color-white;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	margin: -5rem 0 2rem 0;
	// transform: translateY(-50%);
	border-radius: 1rem;

	@media only screen and (max-width: $tab-port) {
		display: none;
	}

	&__item {
		color: $color-primary;
	}

	&__number {
		font-size: 4.5rem;
	}

	&__text {
		font-size: 1.4rem;
		color: $color-primary;
	}
}
