.nav {
	display: flex;
	justify-content: start;
	align-items: center;
	padding: 2rem 15rem;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #fff;
	z-index: 2;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

	@media only screen and (max-width: 87.5em) {
		padding: 2rem 4rem;
	}
	@media only screen and (max-width: $laptop-land) {
		padding: 2rem 2rem;
	}

	&__logo {
		height: auto;
		width: 25rem;
		margin-right: auto;

		img {
			height: auto;
			width: 100%;
		}
	}

	&__list {
		display: flex;
		align-items: center;
		gap: 3.2rem;

		@media only screen and (max-width: $tab-land) {
			display: none;
		}
	}

	&__link {
		color: $color-secondary;
		font-size: 1.4rem;
		text-decoration: none;
		text-transform: capitalize;
	}

	.signup-wrapper {
		display: flex;
		align-items: center;
		gap: 0.5rem;

		@media only screen and (max-width: $tab-land) {
			display: none;
		}

		.btn {
			display: flex;
			align-items: center;
			gap: 0.3rem;
			font-size: 1.4rem;
			text-decoration: none;

			.icon {
				height: 0.8rem;
				width: 1.9rem;
				fill: $color-white;
				display: none;
			}
		}
	}

	.bars {
		height: 5rem;
		width: 5rem;
		background-color: transparent;
		display: none;

		@media only screen and (max-width: $tab-land) {
			display: block;
		}

		img {
			@include img-size;
		}
	}

	.show-mbl-nav {
	}
}
