.subscribe-section {
	padding: 20rem 0 8rem 0;
	position: relative;
	margin-bottom: -20rem;

	.custom-container {
		@media only screen and (max-width: $tab-port) {
			padding: 0;
		}
	}

	.shape {
		position: absolute;
		top: -15rem;
		right: 0rem;
		height: 60rem;
		width: 64rem;

		@media only screen and (max-width: $tab-land) {
			height: 40rem;
			width: 46rem;
			top: 10rem;
		}
		@media only screen and (max-width: $tab-port) {
			height: 36rem;
			width: 33rem;
			top: 4rem;
		}
	}
}

.subscribe {
	background-color: #0e76b0;
	padding: 2.5rem 1.5rem;
	border-radius: 1.5rem;
	display: flex;
	gap: 2rem;
	align-items: center;
	max-width: 80rem;
	margin: 0 auto;

	&__img {
		height: 16.5rem;
		width: 14.5rem;

		img {
			@include img-size;
		}
	}

	h2 {
		color: $color-white;
		font-size: 3.3rem;
		margin-bottom: 2.3rem;
	}

	&__form {
		background: #fff;
		padding: 1rem;
		border-radius: 10rem;
		display: flex;
		align-items: center;

		input {
			width: 100%;
			padding: 1rem 0 1rem 1rem;
			border: none;
			outline: none;
			border-radius: 10rem;
		}

		.btn-submit {
			background-color: transparent;
		}
	}
}
